/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.header {
  background-color: #dda853;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.header #search {
  width: 200px;
  padding: 8px 10px;
  font-size: 16px;
  border: 2px solid black;
  outline: none;
}

.sub-header {
  background-color: #4e71ff;
}

.header h2 {
  font-size: 45px;
  text-align: center;
}

.button-container {
  background-color: #4e71ff;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.button-container #load-btn {
  padding: 6px;
  width: 200px;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

#table-data {
  padding-bottom: 20px;
  padding-top: 20px;
}

#formData {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#name {
  padding: 8px;
  width: 250px;
  margin-right: 5px;
  font-size: 16px;
}

#save-data {
  padding: 8px;
  width: 100px;
  font-weight: 600;
  font-size: 16px;
}

.show-tbl {
  width: 60%;
  margin: auto;
  text-align: center;
}

.show-tbl tr th,
td {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
}

.show-tbl tr th {
  background-color: #4e71ff;
  color: white;
}

.show-tbl tr:nth-child(even) {
  background-color: #f2f2f2;
}

#error,
#success {
  display: none;
  position: fixed;
  top: 15px;
  right: 15px;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#error {
  color: #a94442;
  background-color: #f2dede;
  border: 1px solid #ebccd1;
}

#success {
  color: #3c763d;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
}

.btn-cont {
  display: flex;
  align-items: center;
}

#delete-btn {
  color: #ffffff;
  background-color: #a94442;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#edit-btn {
  color: #ffffff;
  background-color: rgb(9, 126, 13);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

#modal {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}

#modal-form {
  background: #fff;
  width: 40%;
  position: relative;
  top: 20%;
  left: calc(50% - 20%);
  padding: 15px;
  border-radius: 6px;
}

#modal-form h2 {
  margin: 0 0 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

#close-btn {
  background-color: red;
  color: white;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: -15px;
  cursor: pointer;
}

#pagination {
  display: flex;
  justify-content: center;
}

#pagination a {
  background-color: #4e71ff;
  margin: 5px;
  padding: 8px;
  color: white;
  text-decoration: none;
}

#pagination a.active {
  background-color: #059307;
}

#ajaxBtn {
  background-color: #4e71ff;
  padding: 8px 12px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: white;
  width: 30%;
  border-radius: 6px;
}

/* form css  */

h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}
#main {
  width: 700px;
  margin: 20px auto;
  background: white;
  font-size: 18px;
}
#header {
  background: #6c5ce7;
  color: #fff;
  padding: 15px;
}

#table-data {
  padding: 15px;
  min-height: 400px;
}

table tr td:first-child {
  text-align: right;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 200px;
  /* height: 25px; */
  font-size: 17px;
  padding: 3px;
}
input[type="number"] {
  width: 60px;
}

input[type="button"] {
  background: #6c5ce7;
  color: #fff;
  border: 0;
  border-radius: 3px;
  padding: 5px 10px;
  outline: 0;
  cursor: pointer;
}
#response {
  width: 70%;
  margin: 15px auto;
  padding: 15px;
  border-radius: 5px;
}
.error-msg {
  background: #f2dedf;
  color: #9c4150;
  border: 1px solid #e7ced1;
}
.success-msg {
  background: #e0efda;
  color: #407a4a;
  border: 1px solid #c6dfb2;
}
.process-msg {
  background: #d9edf6;
  color: #377084;
  border: 1px solid #c8dce5;
}
